
#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#lezioni, #steps, #why {
  text-align: center;
}

/* COMMON */
.grey {
  width: 100%
  background-color: #f9f9f9;
}
.row, .mt-100 {margin-top: 100px;}
.mt-80 {margin-top: 80px;}

img {height: 200px;}
